.task {
    background-color: #34495e;
    padding: 16px;
    margin: 8px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  }
  .task span {
    color: #fff;
  }

  .task .icon {
    position: absolute;
    top: 30%;
    right: 2%;
    
  }
  .task .trash {
    margin-right: 30px;
  }

  .edit-todo{
      width: 85%;
      color: #fff;
      font-size: 16px;
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid #fff; 
  }
 